.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formulario {
  text-align: center;
}